a,p,h2,h3,h4,h5{
    text-decoration: none;
    font-family: 'Noto Serif TC', serif;
    color: rgb(145, 138, 138);
}
.header{
    display: flex;
    padding: 0 15px 0 5px;
    background:rgba(255, 255, 255,1);
    justify-content: space-between;
    align-items: center;
    height: 70px;
    box-shadow: 0 2px 3px rgb(214, 210, 210);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
}
.header .logo{
    width: 300px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .logo h2{
    width: 130px;
    font-size: 15px;
    color: #d90845;
    margin-left: 10px;
}
.logo img{
    width: 100px;
}
.navbar ul{
    font-size: 0;
}   
.navbar ul li{
    display: inline-block;
    margin: 0 12px;
    font-size: 16px;
    position: relative;
}
.navbar ul li:nth-child(3)::after{
    content: "N";
    display: inline-block;
    color: white;
    text-align: center;
    font-size: 12px;
    width: 16px;
    padding: 1px;
    border-radius: 5px;
    background-color: #d90845;
    position: absolute;
    bottom: 14px;
    right: -20px;
    animation: float .6s linear infinite alternate;
}
.navbar ul li:nth-child(3)::before{
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 5px;
    right: -15px;
    border-left: 10px solid #d90845;
    transform: rotate(15deg);
    border-bottom: 10px solid transparent;
    animation: float .6s linear infinite alternate;
}
@keyframes float{
    0% {transform: translateY(0);}
    100% {transform: translateY(-5px);}
}
.navbar ul li .far,
.navbar ul li .fas{
    margin-right: 5px;
}
.navbar ul li a:hover{
    color: #d90845;
}
.banner{
    margin-top: 70px;
    height: 450px;
    position: relative;
}
.banner::after{
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background-color: red;
    position: absolute;
    bottom: 15px;
    right: 3%;
    left: 0;
    margin: auto;
    border: 1px solid white;
    border-radius: 50%;
    box-shadow: 22px 0 0 white,
                42px 0 0 white,
                62px 0 0 white;
}
.banner img{
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
.recommand-group,
.about-group{
    background-color: rgb(248, 248, 248);
}
.know-more,
.recommand-group,
.lesson-group,
.about-group{
    padding: 50px 0;
    text-align: center;
}
.recommand-group .recommand-title,
.lesson .lesson-title,
.about .about-title{
    width: 1200px;
    margin:0 auto 50px;
    padding: 10px 0;
    font-size: 25px;
    position: relative;
}
.recommand-group .recommand-title::after,
.lesson .lesson-title::after,
.about .about-title::after{
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    background-color: #d90845;
    position: absolute;
    right: 0;
    left: 0;
    bottom: -15px;
    margin: auto;
}
.footer-container,
.recommand-txt,
.lesson-content,
.about-content{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 1200px;
}
.about-content .about-item{
    width: 250px;
    margin: 0 15px;
}
.about-content .about-item .item-title{
    font-size: 24px;
    line-height: 1.3;
    margin: 10px 0 20px;
}
.about-content .about-item p{
    font-size: 16px;
    line-height: 1.5;
}

.lesson-item{
    width: 343px;
    height: 460px;
    padding-bottom: 5px;
    margin: 15px;
    border: 1px solid #ccc;
    transition: .5s;
}
.lesson-item:hover{
    transform: translateY(-10px);
    box-shadow: 5px 5px 8px rgb(184, 180, 180);
}
.lesson-item img{
    width: 100%;
}
.lesson-txt{
    padding: 10px 10px 0; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.lesson-txt .status{
    padding:6px;
    background-color: #d90845;
    font-size: 12px;
    text-align: center;
    color: white;
    border-radius: 6px;
    margin-bottom: 10px;
}
.lesson-txt h3{
    text-align: left;
    font-size: 18px;
    font-weight: 900;
    margin-bottom: 30px;
}
.lesson-txt .info{
    width: 313px;
}
.lesson-txt .info h5{
    font-size: 14px;
    text-align: left;
    margin-bottom: 15px;
}
.lesson-txt .info .time{
    text-align: left;
    padding: 10px 0;
    border-top: 2px solid rgb(185, 182, 182);
}
.info .time h5{
    display: inline-block;
}

.info .time .month{
    padding: 8px;
    letter-spacing: 2px;
    font-weight: 900;
    background-color: rgb(231, 231, 231);
    color: rgb(107, 107, 107);
    margin-left: 10px;
    border-radius: 6px;
}
    

.lesson-group .more-info h3{
    width: 180px;
    padding: 20px;
    font-size: 16px;
    background-color: #d90845;
    color: white;
    margin: 50px auto;
    border-radius: 8px;
    transition: .6s;
}
.lesson-group .more-info h3:hover{
    background-color: #ad0638;
}
.recommand-group{
    position: relative;
}
.recommand-group::after{
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    background-color: red;
    position: absolute;
    bottom: 15px;
    right: 1%;
    left: 0;
    margin: auto;
    border-radius: 50%;
    box-shadow: 21px 0 0 #ccc,
                42px 0 0 #ccc,
                63px 0 0 #ccc,
                -21px 0 0 #ccc,
                -42px 0 0 #ccc;
}

.recommand-txt .picture img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    
}
.recommand-txt .comment{
    width: 650px;
    display: flex;
    text-align: left;
    padding-left: 30px;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
}
.recommand-txt .comment p{
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}
.recommand-txt .comment h2{
    font-size: 25px;
    color: #d90845;
    margin-bottom: 10px;
}
.recommand-txt .comment h3{
    font-size: 16px;
    color: rgb(145, 138, 138);
}
.know-more-content{
    width: 1200px;
    margin: auto;
}
.know-more-content h3{
    font-size: 24px;
    margin: 25px 0;
}
.know-more-content p{
    width: 640px;
    font-size: 18px;
    line-height: 2;
    margin: auto;
    margin-bottom: 30px;
}
.know-more-content p a{
    text-decoration: none;
    color: #d90845;
}
.know-more-content .link-group a{
    margin: 0 18px;
}
.footer-group{
    padding: 40px 0;
    background-color: rgb(248, 248, 248);
}
.footer-container{
    box-sizing: border-box;
    padding: 0 50px;
}
.contact-info,
.footer-content{
    font-size: 14.4px;
    width: 0;
}
.contact-info{
    flex-grow: 1;
}
.contact-info img{
    width: 130px;
    height: 33.82px;
}
.contact-info ul{
    margin-top: 30px;
}
.contact-info li+li{
    margin-top: 18px;
}
.contact-info li .fas{
    margin-right: 12px;
    color: rgb(145, 138, 138);
}
.footer-container .footer-content{
    flex-grow: 2;
    display: flex;
    justify-content: flex-end;
}
.footer-content .footer-item{
    margin: 0 25px;
}
.footer-content .footer-item li{
    list-style: none;
    margin-top: 18px;
}
.footer-item h4{
    color: black;
}
.footer-item li .fab{
    color: rgb(145, 138, 138);
    margin-right: 10px;
}
.contact-info li a:hover,
.footer-item li a:hover{
    color: #d90845;
}
footer{
    margin: auto;
    width: 1200px;
    margin-top: 50px;
}
footer h5{
    width: 1100px;
    margin: auto;
    border-top:1px solid rgb(214, 214, 214);
    text-align: center;
    padding-top: 20px;
    font-size: 13px;
    color: rgb(134, 134, 134);
}

.buttom-group{
    position: fixed;
    bottom: 20px;
    right: 0px;
}
.buttom-group a{
    display: block;
}
.buttom-group a .fab{
    font-size: 60px;
    position: relative;
    right: 25px;
    bottom: 15px;
    color: rgb(51, 136, 248);
}
.buttom-group a .fas{
    font-size: 40px;
    color: #d90845;
}
